#title{
    color:#ff7300;
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#left{
    display: flex;
    justify-content: center;

    height: 100%;
    width: 30%;
}

#middle{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 40%;
}

#right{
    display: flex;
    justify-content: center;

    height: 100%;
    width: 30%;
}

#foxleft{
    padding-top: 50px;
    padding-left: 40px;

    width: 350px;
    height: 350px;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;

    border: 10px solid #ffa939;
    background-color: #ffc77d;
    border-radius: 15px;
    width: 400px;
    height: 400px;
}

#foxright{
    padding-top: 20px;
    padding-right: 90px;

    width: 240px;
    height: 400px;
}

@media (max-width: 1200px) {
    #foxleft{
        display: none;
    }
    #foxright{
        display: none;
    }
}

.insert input{
    padding: 10px;
    border:2px solid #ffa939;
    border-radius: 5px;
}

.button button{
    padding: 10px;
    border:3px solid #ffa939;
    background-color: #ffb048;
    border-radius: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    width: 100%;

    background-color: #ffa939;
    padding: 10px;
}

body{
    margin: 0;
    overflow: hidden;
}